@font-face {
    font-family: Almarai;
    src: url(../index_style/Almarai-Regular.ttf);
}
.search_main_i_page {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eeeeee17;
}
.serchJs {
    display: flex;
    direction: rtl;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ececec71;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 1%);
}
.serCon input {
    padding: 15px;
    width: 150px;
    font-family: 'Almarai', sans-serif;
    border: 0;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
    
}
.serCon input::placeholder{
    font-size: 12px;
}
.serCon input:focus{
    outline: none;
    border: none;
}
.serCase {
    padding: 15px;
    position: relative;
    align-items: center;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
}
.serCase img{
    position: absolute;
    top: 37%;
}
.serTols select{
    padding: 15px;
    border: 0;
    font-family: 'Almarai', sans-serif;
    cursor: pointer;
    appearance: none;
    background-color: #f7f7f8;
    border: none;
    line-height: inherit;
    text-align: center;
    border: 0;
    border-left: 1px solid #ececec71;
    width: auto;
    text-align-last:center;
}
.serTols select:hover{
    background-color: #ececec71;
}


.serTols select option{
    text-align: center;
    cursor: pointer;
}

.serTols select:focus{
    outline: none;
    border: none;
}

.resLis {
    width: 343px;
    margin: auto;
    direction: rtl;
    background-color: #fdfdfd;
    margin-top: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 1%);
}
.headTop {
    padding: 10px 4px 10px 4px;
    display: flex;
    justify-content: space-between;
    border: 0;
    border-bottom: 1px solid #9dbcd16b;
    font-family: 'Almarai', sans-serif;
    font-size: 14px;
    margin: 0 10px 3px 10px;
}
.resLis p {
    padding:8px 13px 8px 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 2px solid #f7f7f87c;
    background-color: #fdfdfd;
    position: relative;
    z-index: 10;
}
.resLis p:last-child{
    margin-bottom: 10px;
    border-bottom: 0 !important;
}
.handlx {
    margin-bottom: 14px;
}
.handl {
    padding: 7px 0 3px 0;
    background-color: #fdfdfd;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    border-radius: 0 0 4px 4px;
    text-align: center;
}
.gooey {
    width: 342px;
    position: absolute;
    overflow: hidden;
    margin: auto;
    left: auto;
    right: auto;
    left: 0;
    right: 0;
    margin-top: -1px;
    background: #ececec71;
    border-radius: 0 0 3px 3px;
    display: block;
  }
  .dotTrouko {
      margin-left: -40%;
  }
  .gooey .dots:nth-child(2){
    transform: translateX(0);
    margin-top: 3px;
    margin-left:6px;
    animation: dot 2s infinite cubic-bezier(.9,.71,.88,.30);
  }
  .gooey .dots:nth-child(3){
    transform: translateX(0);
    margin-top: 3px;
    margin-left:6px;
    animation: dot 2s 150ms infinite cubic-bezier(.9,.71,.88,.30);
  }
  .gooey .dots:nth-child(4){
    transform: translateX(0);
    margin-top: 3px;
    margin-left:6px;
    animation: dot 2s 300ms infinite cubic-bezier(.9,.71,.88,.30);
  }
  .gooey .dots:nth-child(5){
    transform: translateX(0);
    margin-top: 3px;
    margin-left:6px;
    animation: dot 2s 450ms infinite cubic-bezier(.9,.71,.88,.30);
  }
  .gooey .dots:nth-child(6){
    transform: translateX(0);
    margin-top: 3px;
    margin-left:6px;
    animation: dot 2s 600ms infinite cubic-bezier(.9,.71,.88,.30);
  }
  .gooey .dots:nth-child(7){
    transform: translateX(0);
    margin-top: 3px;
    margin-left:6px;
    animation: dot 2s 750ms infinite cubic-bezier(.9,.71,.88,.30);
  }
  .gooey .dots span {
    display: block;
    float: left;
    width: 3px;
    height: 3px;
    margin-left: 16px;
    filter: blur(0px);
    background: #6b6b6b;
    border-radius: 50%;
  }
  @keyframes dot {
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes dots {
    100% {
      transform: translateX(50%);
    }
  }
  
@media screen and (min-width:700px) {
    .serCon input{
        width: 400px;
    }
    .resLis {
        width: 470px;
    }
    .gooey {
        width: 596px;
    }
}
@media screen and (min-width:950px) {
    .serCon input{
        width: 600px;
    }
    .resLis {
        width: 700px;
    }
    .gooey {
        width: 792px;
    }
}