@font-face {
    font-family: Almarai;
    src: url(../index_style/Almarai-Regular.ttf);
}

@font-face {
    font-family: BalooTamma;
    src: url(../index_style/BalooTamma2-Regular.ttf);
}

body{
    background-color: #f3f3f35d;
}
.secWebBas {
    display: none;
}
#ul_search {
    list-style-type: none;
    color: rgb(39, 40, 42);
    direction: rtl;
}

li {
    padding: 6px;
}

li:focus {
    outline-color: 0;
    cursor: default;
}

.li_list {
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    outline-color: 0;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 12px;
    width: 60%;
    max-width: 300px;
    border: 0;
    border-right: 4px solid #d0d6db;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 1%);
    background-color:  #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
li.li_list:hover{
    color: #3d5d85;
    outline-color: 0;
}
.li_list div {
    padding-left: 10px;
    transition: 0.5s;
}
li:focus{
    border-color: 0;
    outline-offset: 0;
    outline-color: 0;
    outline: 0;
    border:0;
}
.subsr {
    padding-bottom: 0;
}
.sub_r_s {
    display: grid;
    grid-template-columns:  50% 50%;
    direction: rtl;
    justify-content: space-evenly;
    overflow-y: hidden;
}
.indexMain {
    display: block;
}
@media screen and (min-width:1000px) {
    .sub_r_s {
        display: grid;
        direction: rtl;
        justify-content: space-evenly;
        overflow-y: hidden;
    }
    .indexMain {
        display: none;
    }
    .rootContainer {
      display: flex;
      justify-content: space-between;
    }
  .secNorBas {
    width: 78%;
  }
  .secWebBas {
    display: block;
    width: 22%;
    transition: 0.3s;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #f3f3f35d;
    border: 0;
    border-right: 1px solid #ececee6c;
    padding-top: 30px;
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
@media screen and (max-width:550px) {
    .sub_r_s {
        display: block;
        width: 94%;
        margin: auto;
    }
}
/* STYLE RANDOM */
.random_ser{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    width: 90%;
    max-width: 300px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.random_s_text {
    margin: auto;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #f5f5f5;
}

.random_s_buttom {
    background-color: #1f4068;
    color: #e3e3e6;
    font-size: 14px;
    width: 90%;
    margin-top: 12px;
    border: 0;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.random_t_ser {
    text-align: center;
    color: #4f4f53;
    font-size: 15px;
}
.random_s_buttom:focus {
    border-color: 0;
    outline-offset: 0;
    outline-color: 0;
    outline: 0;
    border:0;
}

.random_s_buttom:hover {
    background-color: #3d5d85;
    outline-color: 0;
}
/* CONTAINERS ROOT */
.sub_ss {
    direction: rtl;
}
.subtitle_ss {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #f7f7f7;
    font-family: Almarai;
    border: 0;
    border-right: 4px solid #a1beee;
}
.sec_first {
    display: flex;
    align-items: center;
}
.logTitle {
    width: 13px;
    height: 13px;
    border-radius: 2px;
    background-color: #a1beee;
}
.s_title {
    font-size: 16px;
    margin-right: 10px;
}
.sec_sec a {
    font-size: 12px;
}

.top_sec {
    display: flex;
    justify-content: space-around;
    width: 97%;
    margin: auto;
}
.sec_lastNews {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
@media screen and (max-width:550px) {
    .sec_lastNews {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 97%;
        margin: auto;
    }
}
@media screen and (max-width:350px) {
    .sec_lastNews {
        display: block;
    }
}
.web_index {
    background-color: #f7f7f7;
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 0px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    overflow: hidden;
    width: 47.7%;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.web_index_con{
    padding: 3px 10px 3px 10px;
}
.web_index_con_tit {
    font-size: 14px;
    padding: 8px;
    border-radius: 6px;
    background-color: #f3f3f3;
    margin-top: 4px;
    margin-bottom: 3px;
}
.web_index_title {
    display: flex;
    align-items: center;
}
.web_index_title .tpot{
    padding: 6px 7px 6px 7px;
    font-family: Almarai;
    font-size: 14px;
}
.wits {
    background-color: rgba(221, 230, 233, 0.247);
}
.wits .phot{
    padding: 6px 14px 6px 14px;
    background-color: rgba(221, 229, 233, 0.979);
}
.witq {
    background-color: rgba(241, 234, 232, 0.411);
}
.witq .phot{
    padding: 6px 14px 6px 14px;
    background-color: rgb(235, 222, 220);
}
/* END CONTAINERS ROOT */
 a {
    text-decoration: none;
    color: #393e46;
}

 a:hover {
     color: #3282b8;
}
.ads_view {
    overflow: hidden;
    text-align: center;
    margin: auto;
    background-color: #d1d1d1;
    border : 2.6px solid #a8a8ac;
}
.text_h {
    color: #393e46;
    font-size: 16px;
}
.spical_sub_title {
    font-family: sans-serif;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid  #6a737c;
}

.spical_sub_title_text {
    font-family: 'Almarai', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 21px;
    padding: 14px;
    outline-color: 0;
    border: 0;
    border-bottom: 1px solid #bbbec0d7;
}

.clock {
    width: 11px;
    margin-left: 5px;
}

.specialA {
    color: #1f4068;
    font-size: 18px;
}


/* */

div.s_sub_t_d {
    width: 97%;
    max-width: 700px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    overflow: hidden;
    direction: ltr;
    margin: auto;
    margin-bottom: 6px;
    height: 300px;
    margin-top: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.s_sub_t_d:hover {
    border: 1px solid #e1e7eb;
    outline-color: 0;
}

.img_p_sugg_p {
    position: relative;
    overflow: hidden;
    height: 97%;
}
.sugg_p_t_bo_23{
    position:absolute;
    bottom: 0 ;
}

a.link_t_read_p {
    font-size: 13px;
    background-color: #3265b8;
    color: #dee0e4;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Almarai', sans-serif;
}

.p_t_inf , .link_t_read_p{
    background-color: #fcfcfc;
    height: auto;
}

a.s_sub_t {
    font-size: 17.6px;
    font-weight: 500;
    display: flex;
    direction: rtl;
    padding: 10px 7px 10px 7px;
    background-color: #fcfcfc;
    text-decoration: underline;
    height: auto;
    align-items: center;
}

.p_t_inf {
    direction: rtl;
    padding: 4px 7px 10px 7px;
    color:  #1f2224;
    text-align: right;
}

.infoPageSuQu {
    display: none;
}
.infoPageSuQuTw {
    display: none;
}

.infoPageSuQuTw i{
    font-size: 13px !important;
    position: relative;
    bottom: 4px;
}
.infoPageSuQuTw p{
    align-items: center;
    margin-right: 2px;
    position: relative;
    bottom: 4px;
}

.adsEqWeb{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}
.adsEqMain {
    width: 320px !important;
    height: 100px !important;
    margin: auto !important;
}

@media screen and (min-width: 500px) {
    .adsEqMain { width: 468px !important; height: 60px !important;margin: auto !important;} 
}
@media screen and (min-width: 800px) {
    .adsEqMain { width: 728px !important; height: 90px !important;margin: auto !important;}
}
.adsWeb {
    width: 95%;
    max-width: 260px;
    margin: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 1%);
    background-color:  #f7f7f7;
    border-radius: 4px;
    overflow: hidden;
    height: fit-content;
    margin-bottom: 16px;
}
.adsTitle {
    padding: 7px;
    background-color: #f3f3f3a2;
    border: 0;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e438;
    color: #53575abb;
}
.adsContainer {
    margin: 3.6px;
    height: fit-content;
    min-height: 30px;
}
.adsWebContainer {
    height: 320px;
    width: 100%;
}