@font-face {
    font-family: Almarai;
    src: url(../index_style/Almarai-Regular.ttf);
}

@font-face {
    font-family: BalooTamma;
    src: url(../index_style/BalooTamma2-Regular.ttf);
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

.up_date {
    background-color:#f8f8f8;
    padding: 4px;
    margin-bottom: 0;
    direction: rtl;
    font-family: 'Almarai', sans-serif;
    color: #2d2e31;
    font-size: 11.5px;
    display: flex;
    border: 0;
    border-top: 4.5px solid #f8f8f8;
    border-image: linear-gradient(to right,  #f8f8f8 , #3282b8);
    border-image-slice: 10;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-top: 58px;
}

.fa-clock-o {
    padding-left: 4px;
    padding-top: 1px;
}
body{
    background-color: #eeeeee5d;
}
.secWebBas {
    display: none;
}
#ul_search {
    list-style-type: none;
    color: rgb(39, 40, 42);
    direction: rtl;
}

li {
    padding: 6px;
}

li:focus {
    outline-color: 0;
    cursor: default;
}

.li_list {
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    outline-color: 0;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 12px;
    width: 60%;
    max-width: 300px;
    border: 0;
    border-right: 4px solid #d0d6db;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 1%);
    background-color:  #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
li.li_list:hover{
    color: #3d5d85;
    outline-color: 0;
}
.li_list div {
    padding-left: 10px;
    transition: 0.5s;
}
li:focus{
    border-color: 0;
    outline-offset: 0;
    outline-color: 0;
    outline: 0;
    border:0;
}
.subsr {
    padding-bottom: 0;
}
.sub_r_s {
    display: grid;
    grid-template-columns:  50% 50%;
    direction: rtl;
    justify-content: space-evenly;
    overflow-y: hidden;
}
.indexMain {
    display: block;
}
@media screen and (min-width:1000px) {
    .sub_r_s {
        display: grid;
        grid-template-columns:  auto auto auto;
        direction: rtl;
        justify-content: space-evenly;
        overflow-y: hidden;
    }
    .indexMain {
        display: none;
    }
    .rootContainer {
      display: flex;
      justify-content: space-between;
    }
  .secNorBas {
    width: 78%;
  }
  .secWebBas {
    display: block;
    width: 22%;
    transition: 0.3s;
    padding-left: 14px;
    padding-right: 14px;
    background: #f5f5f5;
    padding-top: 30px;
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
@media screen and (max-width:550px) {
    .sub_r_s {
        display: block;
        width: 94%;
        margin: auto;
    }
}
.subsr {
    padding-top: 10px;
    padding-bottom: 0;
}

.ad_subject {
    color: #393e46;
    margin: auto;
    justify-content: center;
}

.ch_sub_ {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    border: 0;
}
.sug {
    overflow: hidden;
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid  #6a737c;
}
/* STYLE RANDOM */
.random_ser{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    width: 90%;
    max-width: 300px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.random_s_text {
    margin: auto;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #f5f5f5;
}

.random_s_buttom {
    background-color: #1f4068;
    color: #e3e3e6;
    font-size: 14px;
    width: 90%;
    margin-top: 12px;
    border: 0;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.text_sub_r {
    font-size: 15px;
    padding-top: 5px;
    margin-right: 10px;
}
.random_t_ser {
    text-align: center;
    color: #4f4f53;
    font-size: 15px;
}
.text_sub_s {
    text-align: center;
    font-size: 23px;
    padding: 14px;
    padding-bottom: 0;
    padding-top: 8px;
    outline-color: 0;

}
.tar {
    display: flex;
    justify-content: center;
    font-family: 'Almarai', sans-serif;
    font-size: 19px;
}
/* SLIDER START */
.container_upTop {
    display: flex;
    overflow-x: auto;
}
.container_upTop a{
    font-family: 'Almarai', sans-serif;
    font-size: 16px;
    padding: 10px 14px 10px 14px;
    margin-right: 10px;
    transition: 0.5s;
    cursor: pointer;
    flex: 0 0 auto;
}
.container_upTop a:hover{
    background-color: #f5f5f5;
}
.container_upTop p{
    font-family: 'Almarai', sans-serif;
    font-size: 16px;
    padding: 10px 14px 10px 14px;
    flex: 0 0 auto;
    border: 0;
    border-bottom: 2px solid #1f4068;
}
/* SLIDER END */
.subtitle_ss {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 1%);
    background-color:  #f7f7f7;
    margin: 14px 15px 6px 15px;
    border-radius: 3px;
    overflow: hidden;
}
.subtitle_ss {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.subtitle_ss p{
    font-family: 'Almarai', sans-serif;
    font-size: 18px;
    padding: 12px;
}

.suntitlemaine {
    border: 0;
    border-right: 7px solid #457aa5;
}
.subtitlemainesec {
    border: 0;
    border-bottom: 2px solid #8b8e92;
    margin-right: 10px;
}

.quntitlemaine {
    border: 0;
    border-right: 5px solid #8b0f0fab;
}

.subcontainer_ss {
    padding: 14px;
}

.random_s_buttom:focus {
    border-color: 0;
    outline-offset: 0;
    outline-color: 0;
    outline: 0;
    border:0;
}

.random_s_buttom:hover {
    background-color: #3d5d85;
    outline-color: 0;
}
.list {
    font-size: 16px;
    text-align: start;
    direction: rtl;
    color: rgb(31, 35, 40);
}
.item_list_sub {
    list-style-type: none;
    text-align: right;
    transition: 0.4s;
}
.item_list_sub:hover{
    outline-color: 0;
}

.container_sugg_sub {
    padding-top: 0;
    padding-bottom: 0;
}

.sub {
    padding-right: 10px;
    margin-right: 30px;
    border : 0;
    border-right: 1.5px solid #7b7b7e77;
    width: auto;
    font-size: 17px;
}

 a {
    text-decoration: none;
    color: #393e46;
}

 a:hover {
     color: #3282b8;
}
.ads_view {
    overflow: hidden;
    text-align: center;
    margin: auto;
    background-color: #d1d1d1;
    border : 2.6px solid #a8a8ac;
}
.text_h {
    color: #393e46;
    font-size: 16px;
}
.spical_sub_title {
    font-family: sans-serif;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid  #6a737c;
}

.spical_sub_title_text {
    font-family: 'Almarai', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 21px;
    padding: 14px;
    outline-color: 0;
    border: 0;
    border-bottom: 1px solid #bbbec0d7;
}

.clock {
    width: 11px;
    margin-left: 5px;
}

.specialA {
    color: #1f4068;
    font-size: 18px;
}