@font-face {
    font-family: Almarai;
    src: url(../index_style/Almarai-Regular.ttf);
}
.information {
    border:0;
    border-top: 3px solid  #3265b8;
    background-color:  #242729;
    bottom: 0;
    width: auto;
    margin: auto;
    margin-bottom: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    color: #d0dae091 ;
    display: flex;
    flex-direction: column;
    font-family: 'Almarai', sans-serif;
    font-size: 13px;
}

.trouko_about{
    background-color: #2c2f31;
    margin: auto;
    padding: 15px;
    padding-left: 10px;
    margin: auto;
    font-size: .8rem;
    font-family: 'Almarai', sans-serif;
    color: #6f7175;
    direction: rtl;
}

.trouko_about_t{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 0px;
}

.trouko-about_p {
    padding: 10px;
    padding-right: 0px;
    line-height: 20px;
}

.dis_sess {
    display: flex;
    width: auto;
    margin: auto;
    padding: 10px;
}

.sweb {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.a_link {
    width: 100px;
}

.a_sess {
    padding-top: 0;
    padding-bottom: 15px;
}
.m_each {
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.w_each {
    padding: 12px 16px 10px 16px;
}

.con_us {
    margin-top: 16px;
    margin-bottom: 5px;
}

.media_m {
    margin-bottom: 10px;
}
a.a_link {
    text-decoration: none;
    color: #848d95;
}

a.a_link:hover {
    color: #143d58;
}

/* */

div.s_sub_t_d , div.s_sub_t_dTw{
    width: 93%;
    max-width: 700px;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 4px;
    overflow: hidden;
    direction: ltr;
    margin: auto;
    margin-bottom: 14px;
    margin-top: 14px;
    height: fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.s_sub_t_d:hover {
    border: 0;
    outline-color: 0;
}

.img_p_sugg_p {
    max-height: 130px;
    position: relative;
}
.sugg_p_t_bo_23{
    position: relative;
    z-index: 10;
}

a.link_t_read_p {
    font-size: 13px;
    background-color: #3265b8;
    color: #dee0e4;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Almarai', sans-serif;
}

.p_t_inf , .link_t_read_p{
    background-color: #f7f7f7;
}

a.s_sub_t {
    font-size: 17px;
    font-weight: 500;
    display: flex;
    direction: rtl;
    padding: 7px 7px 6px 7px;
    background-color: #f7f7f7;
    text-decoration: underline;
}

.p_t_inf {
    direction: rtl;
    padding: 4px 7px 6px 7px;
    color:  #1f2224;
    text-align: right;
    bottom: 0;
}

.infoPageSuQu {
    display: flex;
    justify-content: flex-end;
    padding: 4px 7px 4px 7px;
    border: 0;
    align-items: center;
    position: absolute;
    bottom:4px;
    margin-left: 4px;
    z-index: 1;
}

.infoPageSuQu p{
    margin-right: 2px;
    font-family: 'Almarai', sans-serif;
    font-size: 11px;
}
.infoPageSuQu i {
    font-size: 13px !important;
    margin-top: 1px;
    color: #393e46cb !important;
}

.infoPageSuQuTw {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border: 0;
    font-size: 11px;
    border:0;
    background-color: #f5f5f5;
    border-top: 1px solid #e3e4e642 !important;
    padding-top: 10px;
}

.infoPageSuQuTw i{
    font-size: 13px !important;
    position: relative;
    bottom: 4px;
}
.infoPageSuQuTw p{
    align-items: center;
    margin-right: 2px;
    position: relative;
    bottom: 4px;
}

.adsWeb {
    width: 92%;
    margin: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 1%);
    background-color:  #f7f7f7;
    border-radius: 4px;
    overflow: hidden;
    height: fit-content;
}
.adsTitle {
    padding: 10px;
    background-color: #f3f3f3;
    border: 0;
    border-bottom: 1px solid #e4e4e4bb;
    color: #505050;
}
.adsContainer {
    margin: 3.6px;
    height: fit-content;
    min-height: 30px;
}

.adsEqWeb{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}
.adsEqMain {
    width: 320px !important;
    height: 100px !important;
    margin: auto !important;
}

@media screen and (min-width: 500px) {
    .adsEqMain { width: 468px !important; height: 60px !important;margin: auto !important;} 
}
@media screen and (min-width: 800px) {
    .adsEqMain { width: 728px !important; height: 90px !important;margin: auto !important;}
}