@font-face {
    font-family: Almarai;
    src: url(../index_style/Almarai-Regular.ttf);
}
.information {
    border:0;
    border-top: 3px solid  #3265b8;
    background-color:  #242729;
    bottom: 0;
    width: auto;
    margin: auto;
    margin-bottom: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    color: #d0dae091 ;
    display: flex;
    flex-direction: column;
    font-family: 'Almarai', sans-serif;
    font-size: 13px;
}

.trouko_about{
    background-color: #2c2f31;
    margin: auto;
    padding: 15px;
    padding-left: 10px;
    margin: auto;
    font-size: .8rem;
    font-family: 'Almarai', sans-serif;
    color: #6f7175;
    direction: rtl;
}

.trouko_about_t{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 0px;
}

.trouko-about_p {
    padding: 10px;
    padding-right: 0px;
    line-height: 20px;
}

.dis_sess {
    display: flex;
    width: auto;
    margin: auto;
    padding: 10px;
}

.sweb {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.a_link {
    width: 100px;
}

.a_sess {
    padding-top: 0;
    padding-bottom: 15px;
}
.m_each {
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.w_each {
    padding: 12px 16px 10px 16px;
}

.con_us {
    margin-top: 16px;
    margin-bottom: 5px;
}

.media_m {
    margin-bottom: 10px;
}
a.a_link {
    text-decoration: none;
    color: #848d95;
}

a.a_link:hover {
    color: #143d58;
}

/* Loding secions */

.loaderSection {
  position: relative;
}
.l_top {
  height: 134px;
  background-color: #f5f5f5;
}
.l_down {
position: relative;
background-color: #f8f8f8;
}
.l_title {
  width: 70%;
  border-radius: 4px;
  padding: 4px;
  height: 15px;
  margin: 10px;
  margin-left: auto;
  background-color: #f5f5f5;
}
.l_dis {
  border-radius: 4px;
  height: 75px;
  width: 93%;
  margin: auto;
  margin-top: 13px;
  padding: 4px;
  background-color: #f5f5f5;
}
/* START - LOAD SUGG */
.loader {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 13px;
  margin-bottom: 13px;
}
.loader > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(71, 181, 255, 0.185);
  transform: scale(0);
  transform-origin: center center;
  animation: loader 1.2s infinite linear;
}
.loader > div:nth-of-type(1){
  animation-delay: 0.2s;
}
.loader > div:nth-of-type(3){
  animation-delay: 0.3s;
}
.loader > div:nth-of-type(4){
  animation-delay: 0.4s;
}
.loader > div:nth-of-type(2) {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* END - LOAD SUGG */