@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
body {
    top: 10px;
    background-color: #eeeeee5d;
}

.bodyDivs {
    padding-top: 10px;
    transition: 0.3s;
    transition: 0.3s;
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoStart {
    padding: 5px;
    padding-top: 0;
}

.webDiskTols {
    display: none;
}

.sectionProcess {
    padding-bottom: 30px;
}

.contactIndex {
    border: 0;
    border-bottom: 3px solid rgba(236, 238, 240, 0.288);
    border-top: 3px solid rgba(236, 238, 240, 0.288);
    margin-bottom: 14px;
}

.info_index {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 3px;
    width: 90%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    margin-top: 14px;
    margin-bottom: 14px;
}

@media screen and (min-width: 730px),
(min-width: 1000px) {
    .bodyRootDisplay {
        display: flex;
        justify-content: space-between;
    }
    .bodyDivs {
        width: 70%;
    }
    .webDiskTols {
        display: block;
        width: 30%;
        transition: 0.3s;
        padding-left: 14px;
        padding-right: 14px;
        background: #f5f5f5;
        transition: 0.3s;
        padding-top: 30px;
        direction: rtl;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .contactCon {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .bodyRootDisplay {
        display: flex;
        justify-content: space-between;
    }
    .bodyDivs {
        width: 78%;
    }
    .webDiskTols {
        display: block;
        width: 22%;
        transition: 0.3s;
        padding-left: 14px;
        padding-right: 14px;
        background: #f7f7f7;
        border: 0;
        border-right: 1px solid #e3e9ec63;
        padding-top: 30px;
        direction: rtl;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .contactCon {
        display: none;
    }
}

.info_indexSec {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    overflow: hidden;
    max-width: 240px;
    margin: auto;
    margin-bottom: 20px;
}

.ad_intro_in_p_h {
    font-size: 25.5px;
    font-weight: 600;
    padding: 8px 8px 6px 8px;
    text-align: start;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.menfontmen {
    background-color: #e7e7de57;
    display: flex;
}

.menfontmen div {
    padding: 7px;
}

.phot {
    background-color: #d7dfe057;
    text-align: center;
    width: 30px;
    position: relative;
}

.phot img {
    position: absolute;
    top: 25%;
    left: 35%;
}

.index_list_i {
    display: grid;
    padding: 10px;
    padding-top: 0;
}

.b_index {
    border: 0;
    border-right: 3px solid #db883bb6;
    padding: 1px 6px 5px 5px;
    margin: 3px 0 5px 0;
    background-color: #f5af910a;
}

.index_list_ {
    padding: 2px 5px 2px 5px;
    border: 0;
    border-right: 3px solid #d8b416b6;
    margin: 6px 5px 1px 0 !important;
}

.a_index {
    border: 0;
    border-right: 3px solid #d44000;
    padding: 1px 6px 5px 5px;
    margin: 5px 0 2px 0;
    background-color: #f5af910a;
}

.linShort {
    background-color: #d7dfe057;
    margin: 6px 8px 6px 8px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.sugg_i_li {
    padding: 5px 10px 8px 10px;
}

.icoLinShort {
    align-items: center;
    background-color: #d0dae046;
    position: relative;
    min-width: 40px;
}

.icoLinShort img {
    position: absolute;
    right: 40%;
    top: 20%;
}


/* --- */


/* img */

.photo_page_im {
    overflow: hidden;
    max-height: 200px;
    min-height: 100px;
    height: auto;
    width: auto;
    margin-top: 8px;
    text-align: center;
    position: relative;
    background-color: whitesmoke;
}

.pText_Image {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: fit-content;
    height: 20px;
    align-items: center;
    padding: 10px;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color:  #f7f7f7a8;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    color: #f7f7f7;
    border-radius: 4px;
}

.img {
    width: 100%;
}

.material_i {
    padding: 3px 4px 3px 4px;
    border-radius: 30px;
    cursor: pointer;
    background-color:  #f7f7f7a8;
    transition: 0.4s;
    margin-top: 2px;
}

.material_i:hover {
    background-color: rgb(221, 227, 233);
}

.proImg {
    background-color: #e3e9ec;
    border: 2px solid #d0dae0d8;
    border-radius: 4px;
    bottom: 15%;
    width: 18px;
    height: 18px;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.proImg img {
    width: 16px !important;
    height: 16px;
    margin: 1px;
    pointer-events: none;
    cursor: default;
    position: relative;
    border-radius: 2px;
}

#icon_clockPage {
    width: 10.3px !important;
    margin-right: 1px;
    margin-top: 0 !important;
}
.imgCon {
    margin: auto;
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 10px;
    border-radius: 3px;
    height: fit-content;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    width: fit-content;
}
.imgCon img{
    width: auto;
    max-width: 90%;
    max-height: 300px;
    border-radius: 2px;
}
/* MAIN PAGE INFO */

.adConIn {
    display: flex;
    font-size: 11.3px;
    padding: 4px;
    border: 0;
    border-right: 2px solid #3282b8;
    margin: 3px 1px 3px 1px;
    width: 70%;
    max-width: 400px;
    align-items: center;
    color: #595959;
}
#edTime {
    margin-bottom: 6px;
}
.time_write_this_page_o {
    padding: 10px 10px 0px 10px;
    align-items: center;
    display: flex;
    font-size: 12px;
}
.buIndex {
    position: relative;
    font-size: 13px !important;
}
.buIndey {
    height: 4px;
    padding-left: 38px;
    margin-left: auto;
    content: "";
    position: absolute;
    margin-top: 13px;
    z-index: -1;
    transition: top 200ms cubic-bezier(0, .8, .13, 1);
    background-color: #d5e3eb60;
    border: 0;
    border-bottom: 1px solid #d5e3eb9f;
}
.adConInQ {
    font-size: 14px;
    margin-top: 58px;
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e3e9ec;
    padding: 13px;
    align-items: center;
}

.adConInQ img {
    position: relative;
    top: 2px;
}

/* MAIN CONTAINERS */

.container_text {
    padding: 5px 13px 19px 13px;
    font-size: 17.6px;
    line-height: 25px;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-top: 0.3em;
    color: #000;
}

.title__ad_subject_p {
    font-size: 22px;
    font-weight: 600;
    border: 0;
    padding: 4px 10px 6px 10px;
    border-right: 5px solid #6fb9eb;
    color: #393e46;
    word-break: break-word;

}

.ad_i_subject {
    padding: 5px 13px 19px 13px;
    font-size: 17.6px;
    line-height: 25px;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-top: 0.2em;
    color: #000;
}

/* SOURCE */

.source_quotes div {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.source_quotes div a {
    padding-left: 6px;
}

.title_sour_an_qou {
    padding: 16px;
    display: flex;
    direction: rtl;
    font-size: 19px;
    color: #393e46;
    border: 0;
    border-right: 6px solid #276995;
    background-color: #e7e7de57;
}

.notesQ {
    font-size: 16px;
    color: #393e46;
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.sou_an_quo_content {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 40px;
    border-radius: 0;
}

a {
    text-decoration: none;
    color: #393e46;
}

a:hover {
    color: #3282b8;
}

div.sources_ a {
    color: #062c96;
    padding: 10px;
    padding-right: 12px;
}

div.sources_ {
    display: block;
    color: #393e46;
    padding: 0;
    padding-right: 12px;
    direction: rtl;
    line-height: 25px;
}

.source_quotes div {
    padding: 13px;
    padding-left: 0;
    padding-top: 0;
}

.source_quotes a {
    color: #3282b8;
    font-size: 13px;
}

.p_t_container {
    color: #393e46;
    text-align: center;
}


/* list Menu */

.lisBox {
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: #f7f7f7de;
    text-align: center;
    padding-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.toLisBox {
    display: flex;
    justify-content: center;
    direction: rtl;
    font-size: 16px;
}

.secMainLis,
.secSecLis {
    display: grid;
    padding: 5px;
    padding-top: 0;
}

.secMainLis a,
.secSecLis a {
    padding: 5px;
    cursor: pointer;
    border: 0;
    border-bottom: 2px solid #3282b8;
}

.medLis {
    width: fit-content;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.medLis .fasMaenu img {
    width: 18px;
    height: 18px;
    background-color: #3B5998;
    padding: 9px;
    border-radius: 4px 0 0 4px;
}

.medLis .twiMaenu img {
    width: 18px;
    height: 18px;
    background-color: #55ACEE;
    padding: 9px;
}

.medLis .telegramMaenu img {
    width: 18px;
    height: 18px;
    background-color: #68a6d8;
    padding: 9px;
    border-radius: 0 4px 4px 0;
}
.endlis {
    display: flex;
    direction: rtl;
    background-color: #eeeeee;
    width: fit-content;
    padding: 6px 8px 6px 8px;
    margin: auto;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

.icoLinShar {
    width: 18px;
    height: 18px;
    padding-left: 6px;
    margin-top: 4px;
}

.resLinShar {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    max-width: 300px;
    margin-top: 10px;
}

.sharLinContainer {
    width: 100%;
    word-wrap: break-word;
    background-color: #e9eaec;
    border-radius: 0 3px 3px 0;
    padding: 0 8px 0 8px;
}

.linSharICon {
    width: 16px;
    height: 100%;
    color: rgb(232, 232, 238);
    background-color: #4f5052;
    padding: 0 8px 0 8px;
    border-radius: 3px 0 0 3px;
}
/* SHEARS */
.sheThPage {
    padding: 3px 6px 3px 6px;
    text-align: center;
    border-radius: 1px;
    margin-right: 7px;
    align-items: center;
}
.faceShe {
    background-color: #3B5998;
}
.twitShe {
    background-color: #55ACEE;
}
#admenPage {
    direction: ltr;
}
.m_each a {
    color: #d0dae091 !important;
}
#sEndWe a{
    color: #d0dae091 !important;
}