@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@font-face {
    font-family: Almarai;
    src: url(../index_style/Almarai-Regular.ttf);
}
body {
    top: 10px;
    background-color: #eeeeee5d;
}

.bodyDivs {
    padding-top: 10px;
    transition: 0.3s;
    transition: 0.3s;
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoStart {
    padding: 5px;
    padding-top: 0;
}

.sectionProcess {
    padding-bottom: 30px;
}

.contactIndex {
    margin-bottom: 18px;
    margin-top: 3px;
}

.info_index {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 3px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 16.4px;
}
/* TITLE OF SUGG AND CONT . *TEST* -- START*/
.tpot {
    font-size: 17px;
    font-weight: 600;
    color: #363738;
}
/* TITLE OF SUGG AND CONT . *TEST* -- END*/

@media screen and (min-width: 840px) {
    .bodyRootDisplay {
        display: flex;
        justify-content: space-between;
    }
    .bodyDivs {
        width: auto;
        max-width: 78%;
        overflow: hidden;
    }
    .webDiskTols {
        display: block !important;
        width: 22%;
        min-width: 250px;
        transition: 0.3s;
        padding-left: 14px;
        padding-right: 14px;
        background: #f7f7f7;
        border: 0;
        border-right: 1px solid #e3e9ec63;
        padding-top: 30px;
        direction: rtl;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .contactCon {
        display: none;
    }
}

.info_indexSec {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    overflow: hidden;
    width: 95%;
    max-width: 260px;
    margin: auto;
    margin-bottom: 16px;
}

.ad_intro_in_p_h {
    font-size: 27px;
    font-weight: 600;
    padding: 8px 8px 6px 8px;
    text-align: start;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #2b2b2c;
    width: 85%;
    margin-bottom: 5px;
}

.menfontmen {
    background-color: #e7e7de57;
    display: flex;
}

.menfontmen div {
    padding: 7px;
}

.phot {
    background-color: #d7dfe057;
    text-align: center;
    width: 30px;
    position: relative;
}

.phot img {
    position: absolute;
    top: 25%;
    left: 35%;
}

.index_list_i {
    display: grid;
    padding: 10px;
    padding-top: 0;
}

.b_index {
    border: 0;
    border-right: 3px solid #db883bb6;
    padding: 1px 6px 5px 5px;
    margin: 3px 0 5px 0;
    background-color: #f5af910a;
}

.index_list_ {
    padding: 2px 5px 2px 5px;
    border: 0;
    border-right: 3px solid #d8b416b6;
    margin: 6px 5px 1px 0 !important;
}

.a_index {
    border: 0;
    border-right: 3px solid #d44000;
    padding: 1px 6px 5px 5px;
    margin: 5px 0 2px 0;
    background-color: #f5af910a;
}

.linShort {
    background-color: #d7dfe057;
    margin: 6px 8px 6px 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.sugg_i_li {
    padding: 5px 10px 8px 10px;
}

.icoLinShort {
    align-items: center;
    background-color: #d0dae046;
    position: relative;
    min-width: 40px;
}

.icoLinShort img {
    position: absolute;
    right: 40%;
    top: 20%;
}


/* --- */


/* img */

.photo_page_im {
    overflow: hidden;
    max-height: 200px;
    min-height: 100px;
    height: auto;
    width: auto;
    margin-top: 8px;
    text-align: center;
    position: relative;
    background-color: whitesmoke;
}

.pText_Image {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: fit-content;
    height: 20px;
    align-items: center;
    padding: 10px;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color:  #f7f7f7a8;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    color: #f7f7f7;
    border-radius: 4px;
}

.img {
    width: 100%;
    height: auto;
}

.material_i {
    padding: 3px 4px 3px 4px;
    border-radius: 30px;
    cursor: pointer;
    background-color:  #f7f7f7a8;
    transition: 0.4s;
    margin-top: 2px;
}

.material_i:hover {
    background-color: rgb(221, 227, 233);
}

.proImg {
    background-color: #e3e9ec;
    border: 2px solid #d0dae0d8;
    border-radius: 4px;
    bottom: 15%;
    width: 18px;
    height: 18px;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.proImg img {
    width: 16px !important;
    height: 16px;
    margin: 1px;
    pointer-events: none;
    cursor: default;
    position: relative;
    border-radius: 2px;
}
#icon_clockPage {
    width: 11.4px !important;
    height: 11.4px !important;
    margin-right: 1px;
    margin-top: .5px !important;
}
.imgCon {
    margin: auto;
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 10px;
    border-radius: 3px;
    height: fit-content;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    width: fit-content;
}
.imgCon img{
    width: auto;
    max-width: 90%;
    max-height: 300px;
    border-radius: 2px;
}
/* MAIN PAGE INFO */

.adConIn {
    display: flex;
    font-size: 11px;
    padding: 10px 10px 0px 10px;
    align-items: center;
    color: #252525;
    margin-bottom: 11px;
    align-items: center;
}
.admenPage {
    font-size: 11px;
}

.time_write_this_page_o {
    padding: 10px 10px 0px 10px;
    align-items: center;
    display: flex;
    font-size: 13px;
}
.buIndex ,.buIndexBy{
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
}
.buIndexBy::before{
    content: "";
    position: absolute;
    bottom: 0px;
    height: 6px;
    width: 85%;
    z-index: -10;
    background-color: #d5e3eb65;
    border: 0;
    border-bottom: 1px solid #d5e3ebd5;
}
.buIndex::before{
    content: "";
    position: absolute;
    bottom: 0px;
    height: 6px;
    width: 92%;
    z-index: -10;
    background-color: #ebedeeb2;
    border: 0;
    border-bottom: 2px solid #ebedeee3;
}
.adConInQ {
    font-display: swap;
    font-size: 13.1px;
    margin-top: 56px;
    direction: rtl;
    font-family: 'Almarai', sans-serif;
    background-color: #e3e9ec;
    padding: 14px;
    align-items: center;
    color: #6b778d;
}
.adConInQ a:nth-child(2){
    padding-left: 3px ;
    padding-right: 3px;
    color: #5e6872;
}
.adConInQ a:nth-child(2):hover{
    color: #558abe;
}
.adConInQ a:nth-child(3){
    padding-right: 3px ;
}

.adConInQ img {
    position: relative;
    top: 2px;
}
/*
.titPage {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #393e46;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color:  #f7f7f7f5;
    font-size: 14px;
    transition: 0.5s;
    position: absolute;
    width: 100%;
    top: 52px;
    text-align: right;
}
.titPage p {
    padding: 1px 10px 7px 10px;
}
*/

/* MAIN CONTAINERS */

.ad_sub {
    margin-bottom: 1.5em;
}

.container_text ,.ad_i_subject {
    width: 90%;
    margin: auto;
    font-size: 18px;
    line-height: 25px;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #000;
}
.container_text {
    margin-top: 0.4em;
    margin-bottom: 1.2em;
}
.ad_i_subject {
    margin-top: 0.2em;
}

.title_con {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}
.titInside {
    width: 90%;
    margin: auto;
}
.arrTitle {
    width: 0;
    height: 0;
    right: 0;
    content: "";
    display: block;
    position: relative;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid #6fb9eb;
    margin-left: 12px;
}
@media screen and (min-width: 740px) {
    .container_text ,.ad_i_subject ,.titInside {
        width: 94%;
        margin: auto;
    }
    .container_text {
        margin-top: 0.9em;
        margin-bottom: 1.2em;
    }
    .ad_i_subject {
        margin-top: 0.2em;
    }    
}
@media screen and (min-width: 840px) {
    .container_text ,.ad_i_subject ,.titInside {
        width: 95%;
        margin: auto;
    }
    .container_text {
        margin-top: 0.9em;
        margin-bottom: 1.2em;
    }
    .ad_i_subject {
        margin-top: 0.2em;
    }    
}
.title__ad_subject_p {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.4;
    padding: 4px 0 8px 0;
    color: #32363b;
    word-break: break-word;
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
    z-index: 10;
}
/*.title__ad_subject_p:before {
    content: "";
    position: absolute;
    bottom: 4px;
    height: 7px;
    width: 100%;
    z-index: -10;
    background-color: #6fb9eb3f;
    border-bottom: 2px solid #6fb9eb63;
}*/
.ad_i_subject a ,.container_text a{
    color: #4f97f5 !important;
}
.ad_i_subject .clis {
    width: 86%;
    align-items: center;
    margin: auto;
    position: relative;
    margin-top: -13px;
    line-height: 1.6;
}
.clis .spanx{
    padding: 2px 8.2px 3px 7.7px;
    font-size: 15.5px;
    position: relative;
    border-radius: 5px;
    color: aliceblue;
    background-color: #7db7dd;
    margin-left: 4px;
    text-align: center;
    border: 0;
    border-bottom: 1.8px solid #60a1cc;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;
}
.clis .spano{
    padding: 3px;
    border-radius: 2px;
    color: aliceblue;
    background-color: #72b6e4;
    margin-left: 6px;
    height: 4px;
    width: 4px;
    position: absolute;
    right: -20px;
    top: 10.5px;
}
strong {
    text-decoration: underline;
    color: #474d52;
}
b {
    color: #34373a;
}
blockquote {
    width: 91%;
    margin: auto;
    background-color: #e0ebf3;
    padding: 10px;
    border-radius: 4px;
    border: 0;
    border-right: 5px solid #9bb8cc;
    font-weight: normal;
    color: #20252b;
}

/* SOURCE */

.source_quotes div {
    display: flex;
    align-items: center;
    margin-top: 7px;
    font-size: 13px;
}

.source_quotes div a {
    padding-left: 6px;
}

.title_sour_an_qou {
    font-family: sans-serif;
    padding: 16px;
    display: flex;
    direction: rtl;
    font-size: 18px;
    color: #393e46;
    border: 0;
    border-right: 6px solid #276995;
    background-color: #e7e7de57;
}

.notesQ {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #393e46;
    padding: 10px;
    display: flex;
    direction: rtl;
    padding-bottom: 2px;
}
.sou_an_quo_content {
    margin-bottom: 12px;
}
.sou_an_quo_content div{
    direction: rtl;
    margin-left: auto;
    margin: 4px 10px 5px 10px;
}
.sou_an_quo_content div a {
    color: #393e46;
    padding: 2px;
    font-size: 13px;
    border-radius: 2px;
    border: 1px dotted#46546627;
    width: fit-content;
    width: -moz-fit-content;
}
.sou_an_quo_content div a:hover{
    color: #6e9cd4;
    border:1px dotted#94b2d8;
}

.p_t_container {
    color: #393e46;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: #393e46;
}

a:hover {
    color: #3282b8;
}

.source_quotes div {
    padding: 13px;
    padding-left: 0;
    padding-top: 0;
}

.source_quotes a {
    color: #3282b8;
    font-size: 13px;
}


/* list Menu */
.newBody {
  position: fixed;
  background-color: #3d3d3d2d;
  height: 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background: #18629f;
    background: -webkit-linear-gradient(135deg,#3498db,#18629f );
    background: -moz-linear-gradient(135deg,#3498db,#18629f );
    background: -o-linear-gradient(135deg,#3498db,#18629f );
    background: linear-gradient(135deg,#18629f,#3498db );
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    direction: rtl;
    font-family: 'Cairo', sans-serif !important;
  }
  .sliteLIst {
    min-width: 300px;
  }
  
  .sidenav a {
    padding: 10px 5px 10px 5px;
    width: 90%;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    border: 0;
    border-bottom: 1px solid #f1f1f111;
  }
  .sectionIns {
    border: 0;
    border-bottom: 1px solid #f1f1f111;
    width: 90%;
    margin: auto;
    padding: 10px 5px 10px 5px;
    color: #ffffff;
  }
  .headerIns {
      display: flex;
      justify-content: space-between;
      align-items: center;
    transition: 0.3s;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    cursor: pointer;
  }
  .containerStaff {
    padding-top: 10px;
  }
  .containerIns {
      transition: 0.5s;
  }
  .containerIns a{
      width: 90% !important;
      border: 0 !important;
      font-size: 14px !important;
      line-height: 22px;
      font-weight: 500 !important;
      text-decoration: none;
    font-weight: normal !important;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .arrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
  }
  .arrow span {
    top: 0.7rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #efefef;
    display: inline-block;
    transition: all 0.2s ease;
  }
  .arrow span:first-of-type {
    left: 0;
    transform: rotate(45deg);
  }
  .arrow span:last-of-type {
    right: 0;
    transform: rotate(-45deg);
  }
  .arrow.active span:first-of-type {
    transform: rotate(-45deg);
  }
  .arrow.active span:last-of-type {
    transform: rotate(45deg);
  }
  .search-form {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 35px;
  }
  .search-field {
    background-color: #5c9fcc60;
    border: 0;
    padding: 10px;
    color: #f1f1f1;
    width: 70%;
    border-radius: 0 3px 3px 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .search-field:focus{
    outline: none;
  }
  .search-field::placeholder{
    color: #e9e9e9;
  }
  .serXf {
    width: 40px;
    text-align: center;
    background-color: #5c9fcc60;
    align-items: center;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
  }
  .serXf:hover{
    background-color: #a2c6df60;
  }
  .serXf img{
    position: relative;
    top: 7px;
  }
  .socMedia {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .socMedia a {
    border: 0 !important;
    padding: 10px !important;
    width: 27px !important;
    margin: 4px !important;
    border-radius: 50px;
    text-align: center !important;
    align-items: center;
    border: 1px solid #f1f1f115 !important;
  }
  .fasMaenu img{
    width: 12px;
  }
  .twiMaenu img{
    width: 16px;
  }
  .telegramMaenu img{
    width: 16px;
  }
  /* SHEARS */
  .sheThPage {
      padding: 3px 6px 3px 6px;
      text-align: center;
      border-radius: 1px;
      margin-right: 7px;
      align-items: center;
  }
  .faceShe {
      background-color: #3B5998;
  }
  .twitShe {
      background-color: #55ACEE;
      cursor: pointer;
  }
  #admenPage {
      direction: ltr;
  }
  .m_each a {
      color: #d0dae091 !important;
  }
  #sEndWe a{
      color: #d0dae091 !important;
  }

  .wepIfrem {
      width: 100%;
      border: none;
      height: fit-content;
  }

  /* Loading Secions Part2 */
  .l_end {
    display: flex;
    justify-content: space-evenly;
  }
  
  .l_end div{
  width: 41%;
  border-radius: 4px;
  padding: 4px;
  height: 15px;
  margin: auto;
  margin-top: 8px;
  background-color: #f5f5f5;
  }
  /**/

/* WRONG SUGGESTECS */
.wrongSugg {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wr_title {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    direction: rtl;
    text-align: center;
    background-color: rgba(235, 237, 238, 0.411);
}

.wr_icon {
    text-align: center;
    margin: 14px auto 16px auto;
    background-color: rgba(226, 235, 241, 0.411);
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 60px;
    height: 40px;
    width: 40px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 4px 16px rgb(0 0 0 / 1%);
}
.wr_icon img{
    position: relative;
    z-index: 10;
    margin-bottom: -23px;
}
.randPag {
    cursor: pointer !important;
}