.ch_sub_ {
    font-family: sans-serif;
    width: 87%;
    margin: auto;
    margin-bottom: 18px;
    background-color:#d8d8d8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.246), 0 6px 20px 0 rgba(0, 0, 0, 0.226);
}

.sug {
    overflow: hidden;
    border-radius: 3px;
}

.text_sub_s {
    text-align: center;
    font-size: 22px;
    padding: 14px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    outline-color: 0;
    border: 0;
    border-bottom: 1px solid #ccc;

}
.tar {
    display: flex;
    justify-content: center;
    line-height: 30px;
}

.s_tas {
    background-color:  #d6d6d6;
    border: 0;
    border-right:  2px solid #161f35;
    padding: 3px 3px 3px 6px;
    margin-right: 6px;
}

.sub_r_s {
    padding: 14px;
    padding-right: 0;
    padding-top: 0;
    margin: 6px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    direction: rtl;
}

.sub_r_n {
    text-align: center;
    padding: 20px;
    color:  rgb(61, 61, 61);
}

.sub_r_s::-webkit-scrollbar{
    width: auto;
    height: 7px;
}

.sub_r_s::-webkit-scrollbar-thumb{
    background-color: #989da0;
    border-radius: 2px;
}

.no_result {
    font-size: 16px;
    color: #393e46;
    padding: 10px;
}

/* miunonc */
.uMenuMine_m {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 12px;
    margin-top: 2px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.uMenuMine_m:active {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
}
.uMenuMine_m:focus .line:after {
    background-color: black;
}

.icon-bar {
    display: block;
    width: 22px;
    padding: 1.6px;
}
.icon-bar:after {
    content: '';
    display: block;
    width: 100%;
    height: 3.5px;
    background-color: dimgray;
    border-radius: 2px;
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
.bar_a:after {
    background-color: #3282b8;
}

@media screen and (min-width: 800px) {
    .uMenuMine_m {
        display: none;
    }
}

.hol_sugg {
    padding: 10px;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 12px;
    margin-top: 2px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.hol {
    height: 10px;
    display: block;
}

.hol:after {
        content: '';
        display: block;
        width: 100%;
        height: 3.5px;
        background-color: rgba(105, 105, 105, 0.171);
        border-radius: 1px;
        -webkit-transform: translateZ(0) rotate(0);
                transform: translateZ(0) rotate(0);
        -webkit-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
}

.hol_suggOne {
    width: 80%;
}

.hol_suggTwo {
    width: 90%;
}

.containerSugg {
    text-align: center;
    align-items: center;
}

.ads_eq {
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
‪.main_ads_eq {
    width: 320px; height: 100px;
}
@media screen and (min-width: 900px) {
    ‪.main_ads_eq {
        width: 728px; height: 90px;
    }
}