* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    width: auto;
    border: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    position: fixed;
    opacity: 98.5%;
}

.header_main {
    background-color: #dadada;
    padding-bottom: 5px;
    padding-top: 15px;
}

.header_m_t{
    height: 58px;
    display: flex;
    justify-content: center;
    color: #393e46;
    font-size: 30px;
    font-family: 'Baloo Tamma 2', cursive;
    padding-bottom: 8px;
}

.t_text {
    background-color:  #d3d3d4;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    color: #393e46;
    font-size: 25px;
    font-family: 'Almarai', sans-serif;
    border: 0;
    border-left: 3px solid #393e46;
}

.header {
    background-color: #f1f1f1;
}
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #d3d3d4;
}
  
  .progress-bar {
    height: 8px;
    background: #276995;
    width: 0%;
}
.menu_main {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin: auto;
    background-color:#dbdbdb;
    border-radius: 4px;
    font-size: 18px;
    color: #393e46;
    border: 1px solid #ccc;
    width: 70%;
    margin: auto;
    margin-bottom: 12px;
}    

.scrNo{
    display: none;
}

.men {
    padding: 10px;
    margin: 0 14px 0 14px;
}

/* */


/**/

.men:hover {
    color:  #3282b8;
    cursor: pointer;
}

.men a {
    color: #393e46;
}

.menu_sec {
    display: flex;
}

.sccs {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-right: 2px;
    margin-left: 0;
}
.scs {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-right: 6px dashed;
    border-top: 6px solid\9;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    margin-right: 2px;
    margin-left: 0;
    color: #276995;
}

body{
    background-color: #f0f0f0;
    font-family: sans-serif;
    position: relative;
    top: 150px;
}

.container_header {
    direction: rtl;
    display: flex;
    justify-content: center;
}

.fa-clock-o {
    padding-left: 5px;
    margin-top: 1px;
}

.info_index{
     width: 50%;
     margin-bottom: 10px;
     margin-top: 8px;
     direction: rtl;
     margin-right: -10px;
}

.i_index_ {
    width: 30%;
    margin-right: 10px;
    max-width: 220px;
}

.index_page {
    background-color: #e7e7e7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
    padding: 10px;
    padding-right: 0;
    border-radius: 3px;
}
.index_p_info {
    padding: 0 17px 0 10px;
}

.index_page_ {
    max-height: 200px;
}

.index_p_sugg {
    width: 100px;
    padding:7px;
    margin-bottom: 10px;
    border: 0;
    color:  rgb(5, 46, 87);
    border-right: 2px solid#276995;
    background-color: rgb(221, 222, 223);
}

.menu_sugmen {
    position: relative;
    width: 70%;
    margin: auto;
    color: #393e46;
    background-color:#dbdbdb;
    font-size: 17px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: -27px;
    border: 1px solid #ccc;
    border-top: 0;
}

.menu_sugmen p {
    padding: 10px;
    text-align: right;
}

.sugg_i_li {
    padding: 0 15px 0 0;
}

.sugg_i_l {
    padding: 0 15px 0 0;
    border: 0;
    border-right: 2px solid #1f2829;
    cursor: pointer;
}

.index_title_p {
    padding: 8px 0 4px 8px;
    text-align: start;
}

.index_list_i  a {
    padding-right: 40px;
    border: 0;
    display: block;
}
a.a_index {
    padding: 2px;
    padding-left: 0;
    padding-right: 10px;
    margin-right: 30px;
    margin-bottom: 3px;
    margin-top: 10px;
    color: rgb(57, 64, 71);
    border: 0;
    border-right: 2px solid rgb(57, 64, 71);
    background-color: rgb(221, 222, 223);
    width: 45px;
    border-radius:2px;
}



.index__page__main {
    width: 86%;
    margin: auto;
    border-radius: 4px;
    background-color: #e0e4e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
    direction: rtl;
}

.tit_index__ {
    color: #393e46;
    padding-bottom: 0;
    padding: 14px;
    font-size: 17px;
    display: flex;
    margin-top: 15px;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 0;
    border-bottom: 1.5px solid #d4d4cd;
    margin-bottom: 0;
    font-size: 20px;
    padding-bottom: 5px;
}

.Content__for__index__m {
    color: #393e46;
}

.main_un_t_inf_o {
    color: #393e46;
    background: #dbdbdb;
    font-size: 11.5px;
    direction: rtl;
    padding: 10px;
    margin: auto;
    font-family: 'Almarai', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(16, 20, 27, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.123);
    border: 0;
    border-bottom: 1px solid  rgb(218, 218, 218);
    margin-bottom: 10px;
}

.time_write_this_page_o {
    display: flex;
    justify-content: space-between;
}

.adConIn {
    display: flex;
    padding: 6px 1px 6px 1px;
}

.container_text {
    padding: 14px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    font-size: 18px;
    overflow: hidden;
    line-height: 28px;

}

.photo_page_im {
    overflow: hidden;
    max-height: 160px;
    height: auto;
    width: auto;
    margin-top: 8px;
    text-align: center;
    position: relative;
}

.pText_Image {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: #eeeeeea2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.335), 0 6px 20px 0 rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
    max-width: 85%;
}

.material_i {
    padding: 3px;
    border-radius: 30px;
    cursor: pointer;
}

.material_i:hover {
    background-color: #ccc;
}


.ad_sub_one , .ad_sub_two, .ad_sub_three , .ad_sub_four , .ad_sub_five , .ad_sub_six , .ad_sub_seven{
    width: 87%;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    background-color: #e0e4e0;
    color: #393e46;
    direction: rtl;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}

.title__ad_subject_p {
    padding: 14px;
    font-size: 20px;
}

.ad_i_subject_p{
    padding: 14px;
    padding-bottom: 10px;
    padding-top: 0;
    font-size: 18px;
    overflow: hidden;
    line-height: 28px;
}

.sou_an_quo {
    background-color: #dadada;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}

.title_sour_an_qou {
    padding: 16px;
    display: flex;
    direction: rtl;
    font-size: 19px;
    color: #393e46;
    border: 0;
    border-right: 6px solid #276995;
    background-color: #d6d6d6;
}

.notesQ {
    font-size: 16px;
    color: #393e46;
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.sou_an_quo_content {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 40px;
    border-radius: 0;
}

 a {
    text-decoration: none;
    color: #393e46;
}

 a:hover {
     color: #3282b8;
}


 div.sources_ a {
    color: #062c96;
    padding: 10px;
    padding-right: 12px;
}

div.sources_{
    display: block;
    color: #393e46;
    padding: 0;
    padding-right: 12px;
    direction: rtl;
    line-height: 25px;
}

.source_quotes div {
    padding: 13px;
    padding-left: 0;
    padding-top: 0;
}

.source_quotes a {
    color: #3282b8;
    font-size: 13px;
}

.p_t_container {
    color: #393e46;
    text-align: center;
}

p.nameSources{
    display: none;
}

div.error_to__page {
    margin-top: 10px;
    width: 200px;
    font-size: 15px;
    color: #c62828;
    background: rgba(255, 0, 0 ,0.1);
    text-align: center;
    padding: 3px 5px;
    margin: auto;
    border-radius: 3px;
    border: 1px solid #ef9a9a;
}

.ad_page_one {
    overflow: hidden;
    overflow-x: scroll;
    padding-bottom: 6px;
}
.ad_page_one::-webkit-scrollbar{
    width: 60%;
    height: 4px;
}

.ad_page_one::-webkit-scrollbar-thumb{
    background-color: #d3d3d4;
    border-radius: 5px;
}

.ads_two_ma {
    padding-top: 20px;
    padding-bottom: 25px;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 0;
}


.ads_two_ma::-webkit-scrollbar{
    width: 60%;
    height: 4px;
}

.ads_two_ma::-webkit-scrollbar-thumb{
    background-color: #d3d3d4;
    border-radius: 5px;
}

.fa-check-circle { 
    margin-top: 2.2px;
    margin-left: 3px;
}

li {
    margin-right: 13px;
}

@media screen and (min-width: 800px) {
    .menu_main {
        display: flex;
        justify-content: space-evenly;
        direction: rtl;
        margin: auto;
        background-color:#dbdbdb;
        border-radius: 4px;
        font-size: 18px;
        color: #393e46;
        border: 1px solid #ccc;
        width: 600px;
        margin: auto;
        margin-bottom: 12px;
    }    

    .men {
        padding: 13px;
        margin: 0 14px 0 14px;
    }

    .scrNo{
        display: block;
    }

    body{
        top: 150px;
    }
    .uMenuMine_m {
        display: none;
    }
    .menu_sugmen {
        width: 600px;
    }
}