.ch_sub_ {
    font-family: sans-serif;
    width: 87%;
    margin: auto;
    margin-bottom: 18px;
    background-color:#d8d8d8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.246), 0 6px 20px 0 rgba(0, 0, 0, 0.226);
}

.sug {
    overflow: hidden;
    border-radius: 3px;
}

.text_sub_s {
    text-align: center;
    font-size: 22px;
    padding: 14px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    outline-color: 0;
    border: 0;
    border-bottom: 1px solid #ccc;

}
.tar {
    display: flex;
    justify-content: center;
    line-height: 30px;
}

.s_tas {
    background-color:  #d6d6d6;
    border: 0;
    border-right:  2px solid #161f35;
    padding: 3px 3px 3px 6px;
    margin-right: 6px;
}

.sub_r_s {
    padding: 6px;
    padding-top: 0;
    margin: 6px;
    margin-bottom: 0;
    overflow-y: hidden;
    direction: rtl;
}

.sub_r_n {
    text-align: center;
    padding: 20px;
    color:  rgb(61, 61, 61);
}
.no_result {
    font-size: 16px;
    color: #393e46;
    padding: 10px;
}

/* miunonc */
.uMenuMine_m {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 12px;
    margin-top: 1px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.uMenuMine_m:active {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
}
.uMenuMine_m:focus .line:after {
    background-color: black;
}

.icon-bar {
    display: block;
    width: 22px;
    padding: 1.6px;
}
.icon-bar:after {
    content: '';
    display: block;
    width: 100%;
    height: 3.5px;
    background-color: dimgray;
    border-radius: 2px;
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
.bar_a:after {
    background-color: #3282b8;
}

@media screen and (min-width: 600px) {
    .uMenuMine_m {
        display: none;
    }

    .subsr {
        display: grid;
        grid-template-columns:  auto auto;
    }
}

.hol_sugg {
    padding: 10px;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 12px;
    margin-top: 2px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.hol {
    height: 10px;
    display: block;
}

.hol:after {
        content: '';
        display: block;
        width: 100%;
        height: 3.5px;
        background-color: rgba(105, 105, 105, 0.171);
        border-radius: 1px;
        -webkit-transform: translateZ(0) rotate(0);
                transform: translateZ(0) rotate(0);
        -webkit-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
}

.hol_suggOne {
    width: 80%;
}

.hol_suggTwo {
    width: 90%;
}

.containerSugg {
    text-align: center;
    align-items: center;
}

.ads_eq {
    max-width: 98%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

/* t */ 
div.s_sub_t_dTw{
    width: 90%;
    background-color:#dddddde1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.041), 0 6px 20px 0 rgba(0, 0, 0, 0.048);
    border-radius: 3px;
    overflow: hidden;
    direction: ltr;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.s_sub_t_dTw:hover {
    border: 0;
    outline-color: 0;
}

div.img_p_sugg_pTw {
    display: none;
}

.sugg_p_t_bo_23Tw {
    position: relative;
}

.sub_s_iTw {
    border: 0;
    border-right: 1px solid #babec2;
}

a.s_sub_tTw {
    display: flex;
    direction: rtl;
    font-size: 16px;
    font-family: 'Almarai', sans-serif;
    padding: 10px;
}

.infoPageSuQuTwTw {
    display: flex;
    font-family: 'Almarai', sans-serif;
    font-size: 12px;
    padding: 7px;
    padding-top: 2px;
    padding-right: 1px;
    margin-right: auto;
    justify-content: flex-end;
}
.infoPageSuQuTwTw p{
    padding-right: 4px;
    margin-top: 2px;
}
.p_t_infTw{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    direction: rtl;
    text-align: right;
    color: #2c2f31;
}

.link_t_read_pTw {
    font-size: 13px;
    background-color:#264061;
    color: #bdbfc2;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Almarai', sans-serif;
}

.infoPageSuQuTw,.p_t_infTw,.infoPageSuQuTwTw{
    background-color: #d5d6d8;
}

.infoPageSuQuTw{
    border: 0;
    border-top: 1px solid #babec2;
}