.ch_sub_ {
    font-family: sans-serif;
    margin: auto;
    background-color: #dddddd5d;
}
.sug {
    overflow: hidden;
}
.text_sub_s {
    text-align: center;
    font-size: 20px;
    padding: 14px;
    margin-top: 0;
    margin-bottom: 0;
    outline-color: 0;
    border: 0;
    border-bottom: 1px solid rgb(224, 223, 223);
    background-color: #eeeeee;
}
.tar {
    display: flex;
    justify-content: center;
    line-height: 30px;
}

.s_tas {
    background-color:  #eeeeee;
    border: 0;
    border-right:  2px solid #3282b8;
    padding: 2px 3px 2px 6px;
    margin-right: 6px;
}

.sub_r_s {
    padding: 6px;
    padding-top: 0;
    margin: 6px;
    margin-bottom: 0;
    overflow-y: hidden;
    direction: rtl;
}

.sub_r_n {
    text-align: center;
    padding: 20px;
    color:  rgb(61, 61, 61);
}
.no_result {
    font-size: 16px;
    color: #393e46;
    padding: 10px;
}

.containerSugg {
    text-align: center;
    align-items: center;
}

.ads_eq {
    max-width: 98%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
@media screen and (min-width: 800px) {
    .subsr {
        display: grid;
        grid-template-columns:  50% 50%;
    }
}

/* t */ 
div.s_sub_t_dTw{
    width: 90%;
    overflow: hidden;
    direction: ltr;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #3b3b3bc2;
    border: 0;
    background-color: #e7e7de57;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
}

div.s_sub_t_dTw:hover {
    border: 0;
    outline-color: 0;
}

div.img_p_sugg_pTw {
    display: none;
}

.sugg_p_t_bo_23Tw {
    position: relative;
}

.sub_s_iTw {
    border: 0;
    border-right: 1px solid #babec2;
}

a.s_sub_tTw {
    display: flex;
    direction: rtl;
    font-size: 16px;
    font-family: 'Almarai', sans-serif;
    padding: 10px;
}

.infoPageSuQuTwTw {
    display: flex;
    font-family: 'Almarai', sans-serif;
    font-size: 12px;
    padding: 7px;
    padding-top: 2px;
    padding-right: 1px;
    margin-right: auto;
    justify-content: flex-end;
}
.infoPageSuQuTwTw p{
    padding-right: 4px;
    margin-top: 2px;
}
.p_t_infTw{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    direction: rtl;
    text-align: right;
    color: #2c2f31;
}

.link_t_read_pTw {
    font-size: 13px;
    background-color:#264061;
    color: #bdbfc2;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Almarai', sans-serif;
}

.infoPageSuQuTw,.p_t_infTw,.infoPageSuQuTwTw{
    background-color: #f7f7f7;
}

.infoPageSuQuTw{
    border: 0;
    border-top: 1px solid #e3e4e6;
}