<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="page.css">
    <title>تمت الاضافة بنجاح </title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@400&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="logo.png" />
</head>
</head>
<body>
    <div id="ppp" style="display: none;"><%= namePaths %> </div>
    <div class="texts">
        <div class="title">
            <div class="Successfully_text"> اسم المقالة  : &nbsp; </div>
            <div class="namePTitle"> <%= titlea %> </div>
        </div>
        <div class="bottom_text" id="bottom_text">
            <p> تمت الأضافة بنجاح  </p>
            <i class="fa fa-check-circle-o" style="font-size:27px;margin-right:7px;"></i>
        </div>
        <div class="obo">
         <div class="maine_page ma">
         <i class="fa fa-home" style="font-size:18px"></i><a href="/">الرئيسي</a> 
          </div>
          <div class="view ma2">
          <i class="fa fa-edit" style="font-size:17px"></i><a href="add">جديد</a> 
          </div>
           <div class="new ma" id="view">
         
          </div>
        </div>

        <div class="obo2">
         <div class="maine_page ma">
         <a href="/delete">ازالة مقالة <i class="fa fa-trash" style="font-size:16px; margin-right : 6px"></i></a> 
          </div>
          <div class="view ma">
          <a href="/edite">تعديل مقالة <i class="material-icons" style="font-size:14px; margin-top : 3px; margin-right : 6px">border_color</i></a> 
          </div>
        </div>
    </div>
    <script src="done.js"></script>
</body>
</html>