<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ألاضافة التلقائية للمقالات </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@400&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="auto.css">
    <link rel="shortcut icon" type="image/x-icon" href="logo.png" />
</head>

<body>
    <div class="choose_s_p sectiona">

      <div class="autoCrate"> أنشاء مقالة تلقائية </div>
      <div style="text-align: center; padding: 20px; padding-bottom: 0; color: teal;">*  ادخل أسم المقالة التي تود أنشائها </div>
      <br>
      <div class="check_N sh" id="check_name_pTW"></div>
      
      <div class="name_project_">
          <div class="n_p sh"> أسم المقالة  <div id="name_p"></div> </div> 
          <input autocomplete="off" type="text" id="nameTheSubject" class="input_css sh" name="searchbox">
      </div>

      <button type="submit" id="googlet" class="subAdPage">بدء الأنشاء </button>
      <div class="result_create" id="result_create"></div>

      <script async src="https://cse.google.com/cse.js?cx=584c7e797538828e9"></script>
      <div class="gcse-search"></div>
      
      <div class="infoImp">
          <div class="titleInfoImp"> معلومات مطلوبة </div>

          <div id="in_list_chose">
              <div  id="name_ch" class="titleInfoCh"> ~ اختر احد التصنيفات ~ </div>
              <div class="lis_ch_sub" id="list_t_chose">
                <div class="d_pp_main">
                <p class="menu_title_ch_text ">  المواضيع  </p>
                <p class="l_p_ch" id="space_sb" onclick="chooseeP('space_sb');"> الفضاء </p>
                <p class="l_p_ch"  id="spy_sb" onclick="chooseeP('spy_sb');"> الفيزياء </p>
                <p class="l_p_ch"  id="technology_sb" onclick="chooseeP('technology_sb');"> التقنية </p>
                <p class="l_p_ch"  id="g_sb" onclick="chooseeP('g_sb');"> الجغرافية </p>
                <p class="l_p_ch"  id="sc_sb" onclick="chooseeP('sc_sb');"> العلوم </p>
                <p class="l_p_ch"  id="else_sb" onclick="chooseeP('else_sb');"> متنوعة </p>
                </div>
                <br>
                <div class="d_pp_main">
                <p class="menu_title_ch_text">  الاسئلة  </p>
                <p class="l_p_ch" id="space_q" onclick="chooseeP('space_q');">اسئلة عن الفضاء </p>
                <p class="l_p_ch"  id="technology_q" onclick="chooseeP('technology_q');"> اسئلة عن التقنية </p>
                <p class="l_p_ch"  id="spy_q" onclick="chooseeP('spy_q');"> اسئلة عن الفيزياء </p>
                <p class="l_p_ch"  id="sc_q" onclick="chooseeP('sc_q');">اسئلة عن  العلوم </p>
                <p class="l_p_ch"  id="else_q" onclick="chooseeP('else_q');">اسئلة متنوعة </p>
              </div>
              </div>
          </div>
          <div class="flex">
          <div class="infoThisPage"> <input type="text" class="inputPath" id="path_r_n" placeholder="اسم المسار"> </div>
          <div class="infoThisPage"> <input name="pathPage" class="inputPath" id="lin" placeholder="اسم التصنيف"> </div>
          </div>
          <div class="infoThisPage"> <input name="pathPage" class="inputPath" id="namePage" placeholder="اسم الملف"> </div>
          <div id="error" class="erorr" style="display: none;"> يرجى أختيار احد التصنيفات * </div>
        </div>
     </div>

    <div class="choose_s_p section">

    <div class="autoCrate"> البحث في الصفحات الرئيسية </div>

    <div class="section_x one_s_p">
        <div class="count_x">
            <div class="count_a_text nnn"> الصفحات المدمجة ᵒⁿᵉ</div>
            <div class="containerW"><div class="container_W wsub urlPages"  id="urlPageGet"></div></div>
        </div>
        <div class="count_x">
            <div class="count_a_text tsubject nnn"> <div class="textMainMixAllPage">تحليل البيانات و استخراج الجمل  ᵒⁿᵉ</div> <div class="waiteOnLoad" id="waiteOnLoad"></div></div>
            <div class="containerW"><div class="container_W spaceCharcContact wsub"  id="getAutoCharContainer"></div></div>
        </div>
    </div>

    <div class="section_x one_s_p" id="isWebNext">
        <div class="count_x">
            <div class="count_a_text nnn"> بحث ويكيبيديا ᵗʷᵒ</div>
            <div class="containerW"><div class="container_W wsub urlPages"  id="urlPageGetNext"></div></div>
        </div>
        <div class="count_x">
            <div class="count_a_text nnn">تحليل البيانات و استخراج الجمل ᵗʷᵒ </div>
            <div class="containerW"><div class="container_W spaceCharcContact wsub wikidse"  id="urlPageGetNextContainer"></div></div>
        </div>
    </div>

    <div class="section_x one_s_p" id="isWebNext">
        <div class="count_x urlImg">
            <div class="count_a_text nnn imgsText"><div> الصور </div> <div id="isLoadImg"></div></div>
            <div class="containerW"><div class="container_W wsub urlImgs"  id="urlImgs"></div></div>
        </div>
    </div>

    </div>

    <div class="choose_s_p section">

    <div class="autoCrate"> الولوج الى بيانات الصفحات الرئيسية </div>
    <div class="section_x one_s_p">
        <div class="count_x">
            <div class="count_a_text nnn"> بيانات الانشاء </div>
            <div class="notf"><div class="issdataRead" id="issdataRead"></div></div>
        </div>
        <div class="count_x">
            <div class="count_a_text nnn"> تقسيم البيانات </div>
            <div class="containerW"><div class="container_W wsub"  id="dataFromUrlPage"></div></div>
        </div>
    </div>
    </div>

    <!-- جمع البيانات من المواقع -->


    <div class="choose_s_p section">

    <div class="autoCrateW" id="shstartCreateM"><div class="secAutodis"><div class="shcredeta" id="shstartCreate"> <i class="fa fa-eye"></i> </div><div class="secAuto"> أنشاء المقالة  |  جمع البيانات </div></div><div class="secAutoT" id="startCreateAWite"></div></div>

    <div id="startCreate" style="display: none;">

    <div class="autoCrate">  بيانات الصفحات المستخرجة </div>

    <div class="sections_index" id="webPage">

    </div>


    </div>
    </div>

    <!-- قسم التحليل -->

    <div class="choose_s_p section">
    <div class="autoCrateW"><div class="secAutodis"><div class="shcredeta" id="shAnly"> <i class="fa fa-eye"></i> </div><div class="secAuto"> أنشاء المقالة  | تحليل البيانات </div></div><div class="secAutoT" id="startAnalyzing"> غير مكتمل </div></div>

    <div id="startAnlyData" style="display: none">
    <div class="section_x one_s_p">
        <div class="count_y">
            <div class="count_a_text nnn"> الوصف  </div>
            <div class="containerW"><div class="container_W wsub"  id="desAnly"></div></div>
        </div>
    </div>
    <div class="autoCrate">  معالجة بيانات الاقسام </div>

    <div id="sectionsAnly">
    
    </div>
    
    </div>
    </div>

    <!-- قسم الانشاء -->

    <div class="choose_s_p section">
    <div class="autoCrateW"><div class="secAutodis"><div class="shcredeta" id="shSectionAll"> <i class="fa fa-eye"></i> </div><div class="secAuto"> جمع البيانات و أنشاء المقالة </div></div><div class="secAutoT" id="createAllCase"> غير مكتمل </div></div>

    <div id="createAll" style="display: none;">
        <div class="count_y dirction" id="disCase">
            <div class="count_a_text nnn"> الوصف  </div>
            <div class="containerW"> <textarea class="textarea"  id="conDis" rows="8" cols="67"></textarea> </div>
        </div>

        <div class="count_y dirction" id="tS0" style="display: none;">
            <div class="count_a_text nnn"> القسم الاول  </div>
              <div class="eleInAnTe">
                 <div class="count_a_text nnn"> عنوان القسم الاول : </div>
                 <input autocomplete="off" type="text" id="naSe0" class="input_css_text">
              </div>
            </div>
            <div class="count_y dirction" id="cS0" style="display: none;">
                <div class="count_a_text nnn"> المحتوى القسم الاول </div>
                <div class="containerW"> <textarea class="textarea" id="conSe0" rows="8" cols="67"></textarea> </div>
            </div>

        
        <div class="count_y dirction" id="tS1" style="display: none;">
            <div class="count_a_text nnn"> القسم الثاني  </div>
              <div class="eleInAnTe">
                 <div class="count_a_text nnn"> عنوان القسم الثاني : </div>
                 <input autocomplete="off" type="text" id="naSe1" class="input_css_text">
              </div>
            </div>
            <div class="count_y dirction" id="cS1" style="display: none;">
                <div class="count_a_text nnn"> المحتوى القسم الثاني </div>
                <div class="containerW"> <textarea class="textarea" id="conSe1" rows="8" cols="67"></textarea> </div>
            </div>
        

        <div class="count_y dirction" id="tS2" style="display: none;">
            <div class="count_a_text nnn"> القسم الثالث  </div>
              <div class="eleInAnTe">
                 <div class="count_a_text nnn"> عنوان القسم الثالث : </div>
                 <input autocomplete="off" type="text" id="naSe2" class="input_css_text">
              </div>
            </div>
            <div class="count_y dirction" id="cS2" style="display: none;">
                <div class="count_a_text nnn"> المحتوى القسم الثالث </div>
                <div class="containerW"> <textarea class="textarea" id="conSe2" rows="8" cols="67"></textarea> </div>
            </div>
        
        

        <div class="count_y dirction" id="tS3" style="display: none;">
            <div class="count_a_text nnn"> القسم الرابع  </div>
              <div class="eleInAnTe">
                 <div class="count_a_text nnn"> عنوان القسم الرابع : </div>
                 <input autocomplete="off" type="text" id="naSe3" class="input_css_text">
              </div>
            </div>
            <div class="count_y dirction" id="cS3" style="display: none;">
                <div class="count_a_text nnn"> المحتوى القسم الرابع </div>
                <div class="containerW"> <textarea class="textarea" id="conSe3" rows="8" cols="67"></textarea> </div>
            </div>

    </div>

    </div>

    <!-- حفظ -->
    
    <div  id="saveThis">
        <div class="choose_s_p section blueSaveWait"> حفظ </div>
    </div>


    <div id="container_dataPages" style="display: none;">
    </div>

    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="anData.js"></script>
    <script src="searchGoogle.js"></script>
</body>
</html>