<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="page.css">
    <title>قسم الصور </title>
    <link rel="shortcut icon" type="image/x-icon" href="logo.png" />
</head>
</head>
<body> 
    <div id="getUrl" style="display : none"> <%= urlSearchImg %> </div>
    
    <script async src="https://cse.google.com/cse.js?cx=63d4296deff2114f2"></script>
    <div class="gcse-search"></div>

    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script src="searchImageErr.js"></script>
    <script src="searchImage.js"></script>
</body>
</html>