* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
    font-family: 'Almarai', sans-serif;
}

.texts {
    text-align: center;
    background-color: #e0e1e4;
    color: #555555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.246), 0 6px 20px 0 rgba(0, 0, 0, 0.226);
    width: 70%;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

.title {
    display: flex;
    justify-content: center;
    direction: rtl;
    padding: 20px;
    font-size: 20px;
}

.bottom_text {
    direction: rtl;
    display: flex;
    justify-content: center;
}

.bottom_text{
    color:#213e3b;
    font-size: 20px;
}

.obo {
    display: flex;
    justify-content: center;
    direction: rtl;
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #55555546;
}

.obo2 {
    display: flex;
    justify-content: center;
    direction: rtl;
    border: 0;
    border-top: 1px solid #55555546;
}


.ma {
    display: flex;
    margin: 10px;
    padding:15px;
    cursor: pointer;
}

.ma2 {
    display: flex;
    margin: 10px;
    margin-bottom: 0;
    padding:15px;
    padding-bottom: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #555555;
}

.ma:hover ,.ma2:hover {
    background-color: #eee;
    border-radius: 50px;
}

.fa {
    margin-left: 5px;
}