@font-face {
    font-family: Almarai;
    src: url(../../index_style/Almarai-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: auto;
    margin-bottom: 0;
}

.header_m_t{
    background-color: #d3d3d4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-clock-o {
    padding-left: 4px;
    padding-top: 1px;
}

body{
    background-color: #e2e2e2;
    font-family: sans-serif;
}

.up_date {
    background-color:  #15171b;
    padding: 4px;
    margin-bottom: 0;
    direction: rtl;
    font-family: 'Almarai', sans-serif;
    color: rgb(185, 182, 182);
    margin: auto;
    font-size: 11.5px;
    display: flex;
    border: 0;
    border-top: 3px solid #2c3036;
    border-bottom: 4.5px solid#2c3036;
    border-image: linear-gradient(to right, #2c3036 , #1f3068);
    border-image-slice: 10;
}
.sections {
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #e0e4e0;
    color: #393e46;
    direction: rtl;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}
.title_page {
    background-color: rgb(221, 222, 223);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 13px;
    font-size: 20px;
    border: 0;
    border-bottom: 1.5px solid #d4d4cd;
}

.container_page {
    padding: 13px;
}

.container_page p {
    padding-right: 6px;
    padding-bottom: 4px;
    font-size: 18px;
}


.section_r {
    background-color: rgb(218, 218, 218);
    color: #393e46;
    direction: rtl;
    border-radius: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.246);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
    width: 95%;
    margin: auto;
    margin-bottom: 30px;

}

.section_rO {
    direction: rtl;
    background-color: rgb(218, 218, 218);
    color: #393e46;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    font-size: 23px;

}

.sug_op {
    display: flex;
    justify-content: space-around;
}

.io {
    padding: 10px;
    font-family: 'Almarai', sans-serif;
    font-size: 15px;
    display: flex;
    cursor: pointer;
}

.io:hover{
    background-color: #ccc;
    border-radius: 50px;
}

.io:focus{
    background-color: #ccc;
    border-radius: 50px;
}

.text_s_q {
    padding: 20px;
    font-family: 'Almarai', sans-serif;
}

.text_sub_r{
    font-size: 18px;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

}

p.number_c {
    font-size: 10px;
}

.s_sub_t_d_ {
    display: flex;
    text-align: right;
}

 a {
    text-decoration: none;
    color: #393e46;
}

a.r {
    color: #2e466b;
}

 a:hover {
     color: #3282b8;
}

a.se_mo_r_a {
    color: #38537a;
}

.a_s:hover {
    color: #393e46;
}
#n_ing {
    text-align: center;
    padding: 20px;
}

.clock {
    width: 11px;
    margin-left: 5px;
}


.sub_r_s {
    padding-top: 10px;
    padding-bottom: 10px;
    direction: rtl;
    overflow-y: hidden;
    
}

.subsr {
    padding: 10px;
    padding-bottom: 0;
}

@media screen and (min-width: 800px) {
    .sub_r_s {
        display: grid;
        grid-template-columns:  auto auto;
        padding-top: 10px;
        padding-bottom: 10px;
        direction: rtl;
        overflow-y: hidden;   
    }
    .subsr {
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 0;
    }
}

/* */

div.s_sub_t_d {
    position: relative;
    background-color:#dddddde1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 8px;
    border-radius: 3px;
    overflow: hidden;
    direction: ltr;
    margin-bottom: 14px;
}

div.s_sub_t_d:hover {
    border: 0;
    outline-color: 0;
}

.img_p_sugg_p {
    height: 240px;
}
.sugg_p_t_bo_23{
    position: absolute;
    z-index: 10px;
    bottom: 0;
    width: 100%;
}

a.link_t_read_p {
    font-size: 13px;
    background-color:#264061;
    color: #bdbfc2;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Almarai', sans-serif;
}

.p_t_inf , .link_t_read_p{
    background-color:#dddddd;
}

a.s_sub_t {
    font-size: 22px;
    display: flex;
    direction: rtl;
    padding: 6px;
    background-color: #dbdbdb9f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.226);

}

.p_t_inf {
    direction: rtl;
    padding: 10px;
    color:  #1f2224;
    text-align: right;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.infoPageSuQu {
    display: flex;
    background-color:#dddddd;
    justify-content: flex-end;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #babec2;
}

.infoPageSuQu p{
    margin-right: 2px;
    font-family: 'Almarai', sans-serif;
    font-size: 14px;
}

.infoPageSuQuTw {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    text-align: right;
    border: 0;
    font-size: 12px;
}

.infoPageSuQuTw p{
    margin-right: 2px;
    margin-top: 1px;
    font-family: 'Almarai', sans-serif;
}

.infoPageSuQuTw,.p_t_infTw,.infoPageSuQuTwTw,.infoPageSuQuTh,.p_t_infTh,.infoPageSuQuTwTh {
    background-color: #d5d6d8;
}
.infoPageSuQuTw ,.infoPageSuQuTwh{
    border: 0;
    border-top: 1px solid #babec2;
}