@font-face {
    font-family: Almarai;
    src: url(../../index_style/Almarai-Regular.ttf);
}
body{
    padding-top: 60px;
    background-color: #eeeeee5d;
}
.sections {
    margin: auto;
    margin-bottom: 30px;
    color: #393e46;
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title_page {
    font-size: 19px;
    background-color: #e7e7de57;
    display: flex;
    border: 0;
    border-right: 4px solid #878f9c;
}
.title_page p {
    padding: 6px 0 8px 0;
    
}
.cSpTitle {
    margin-left: 10px !important;
    background-color: #c9cbce27;
    padding-right: 7px !important;
    padding-left: 7px !important;

}
#n_ing {
    text-align: center;
    padding: 20px;
}
.titleSugg {
    padding: 10px 0 10px 0;
    font-size: 19px;
    background-color: #e7e7de57;
    border: 0;
    text-align: center;
}

.sectionTop {
    font-size: 14px;
    direction: rtl;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e3e9ec;
    padding: 13px;
    align-items: center;
    color: cornflowerblue;
}
.icon_folder {
    position: relative;
    top: 2px;
}

.sectionTop a{
    text-decoration: none;
    color:rgb(63, 91, 143);
}
.sectionTop a:hover{
    color:rgb(81, 133, 230);
}
/**/
#main_sub_ad , #addSuggSQ{
    display: grid;
    grid-template-columns:  50% 50%;
    justify-content: space-evenly;
    position: relative;
}
@media screen and (min-width: 1000px) {
    #main_sub_ad , #addSuggSQ{
        display: grid;
        grid-template-columns:  auto auto auto auto;
        justify-content: space-evenly;
    }
}
.itD {
    padding: 10px;
    background-color: rgb(240, 243, 245);
    margin: 6px;
    border: 0;
    border-right: 4px solid rgb(100, 153, 202);
    font-size: 15px;
}
.itD a {
    color: steelblue;
    text-decoration: none;
}
.isMore {
    background-color: cornflowerblue;
    padding: 6px;
    text-align: center;
    color: whitesmoke;
    width: 70%;
    max-width: 400px;
    border-radius: 3px;
    margin: auto;
    font-size: 14.5px;
    border: 1px solid rgb(70, 128, 235);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.link_t_read_pTw {
    font-size: 13px;
    background-color:#264061;
    color: #bdbfc2;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Almarai', sans-serif;
}

.infoPageSuQuTw,.p_t_infTw,.infoPageSuQuTwTw{
    background-color: #f7f7f7;
}

.infoPageSuQuTw{
    border: 0;
    border-top: 1px solid #e3e4e6;
}
.s_sub_t {
    color: rgb(52, 53, 56);
    text-decoration: none;
}

/* list Menu */

.lisBox {
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: #f7f7f7de;
    text-align: center;
    padding-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.toLisBox {
    display: flex;
    justify-content: center;
    direction: rtl;
    font-size: 16px;
}

.secMainLis,
.secSecLis {
    display: grid;
    padding: 5px;
    padding-top: 0;
}

.secMainLis a,
.secSecLis a {
    padding: 5px;
    cursor: pointer;
    border: 0;
    border-bottom: 2px solid #3282b8;
}

.medLis {
    width: fit-content;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.medLis .fasMaenu img {
    width: 18px;
    height: 18px;
    background-color: #3B5998;
    padding: 9px;
    border-radius: 4px 0 0 4px;
}

.medLis .twiMaenu img {
    width: 18px;
    height: 18px;
    background-color: #55ACEE;
    padding: 9px;
}

.medLis .telegramMaenu img {
    width: 18px;
    height: 18px;
    background-color: #68a6d8;
    padding: 9px;
    border-radius: 0 4px 4px 0;
}
.endlis {
    display: flex;
    direction: rtl;
    background-color: #eeeeee;
    width: fit-content;
    padding: 6px 8px 6px 8px;
    margin: auto;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

.icoLinShar {
    width: 18px;
    height: 18px;
    padding-left: 6px;
    margin-top: 4px;
}

.resLinShar {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    max-width: 300px;
    margin-top: 10px;
}

.sharLinContainer {
    width: 100%;
    word-wrap: break-word;
    background-color: #e9eaec;
    border-radius: 0 3px 3px 0;
    padding: 0 8px 0 8px;
}

.linSharICon {
    width: 16px;
    height: 100%;
    color: rgb(232, 232, 238);
    background-color: #4f5052;
    padding: 0 8px 0 8px;
    border-radius: 3px 0 0 3px;
}
/* SHEARS */
.sheThPage {
    padding: 3px 6px 3px 6px;
    text-align: center;
    border-radius: 1px;
    margin-right: 7px;
}
.faceShe {
    background-color: #3B5998;
}
.twitShe {
    background-color: #55ACEE;
    width: 100% !important;
}
#admenPage {
    direction: ltr;
}
.lisBox a {
    text-decoration: none;
    color: rgb(100, 153, 202);
}