<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@400&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="logo.png" />
    <title> trouko | edite </title>
</head>
<header>
    <div id="css_link"> <link rel="stylesheet" type="text/css" href="edde.css"> </div>
    <div class="header_main">
        <div class="text_main">
           <p class="trouko_t_t_m">
             trouko <mark class="t_text"> تروكو </mark>
              </p>
          </div>
      </div>
<div class="title_page"> <div class="back"><a href="/" class="aback"><img src="angle-left-solid.svg" style="width: 15px"> </a> </div> <div class="center_text"> تعديل المقالات <i class="material-icons" style="font-size:20px">border_color</i></div></div>
</header>
<body>   
    <div  id="body"> 
    <div id="ad_sh"></div>
    <div class="main_section">
       <div class="su_maine w"><a href="#subjects">المواضيع</a>  </div>
       <div class="qu_naine w"><a href="#questions">الأسئلة</a>  </div>
    </div>

    <div class="section">
        <div class="ss">
        <div class="sub_title" id="subjects"> المواضيع </div>
            <div id="sub">
              
            </div>
        </div>         
    </div>

    <div class="section">
        <div class="ss">
         <div class="sub_title " id="questions"> الأسئلة </div>
            <div id="que">
              
            </div>
        </div>         
    </div>
    </div>

    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="ed.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>